# Ignorer tout le répertoire WordPress par défaut
/*
!/.gitignore
!/wp-content/
!/.cpanel.yml
!/.ddev/
!/wp-config-ddev.php
!/wp-config.php
!/export-wam.sql

# Dans wp-content on ignore tout...
/wp-content/*
# ...sauf notre thème
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/wamV1/

# On ignore les fichiers de configuration et les dumps SQL !
# *.sql (désactivé pour inclure export-wam.sql)
# *.sql.gz
*.tar.gz
*.zip
# wp-config.php (désactivé pour suivi)
wp-config-local.php

# Fichiers système mac/windows
.DS_Store
Thumbs.db
